Saved
Build
Intermediate
.vs
Binaries
Intermediate
StarterContent
.idea
Plugins/InteractionFramework/.git
Plugins/InteractionFramework/Saved
Plugins/InteractionFramework/Intermediate
Plugins/InteractionFramework/Binaries

Plugins/FastGas/.git
Plugins/FastGas/Saved
Plugins/FastGas/Intermediate
Plugins/FastGas/Binaries
/Content/FPWeapon
/Content/VRTemplate
/Content/Geometry
/*.7z
